<?xml version="1.0"?>

<!-- Gazebo file contains information regarding the lnks's physics (e.g., friction, stiffness, damping) -->

<robot name="rielbot" xmlns:xacro="http://ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">

  <!-- Wheels -->
     <!-- To emulate Mecanum wheels in Gazebo with spherical collisions it
  requires a custom friction model so the vehicle can strafe left to right -->
  <gazebo reference='front_left_wheel'>
    <collision>
      <surface>
        <friction>
          <ode>
            <mu>1.0</mu>
            <mu2>0.0</mu2>
            <!-- <fdir1 gz:expressed_in="base_link">1 -1 0</fdir1> -->
            <fdir1 gz:expressed_in="base_footprint">1 -1 0</fdir1>
          </ode>
        </friction>
      </surface>
    </collision>
  </gazebo>
  <gazebo reference='front_right_wheel'>
    <collision>
      <surface>
        <friction>
          <ode>
            <mu>1.0</mu>
            <mu2>0.0</mu2>
            <!-- <fdir1 gz:expressed_in="base_link">1 1 0</fdir1> -->
            <fdir1 gz:expressed_in="base_footprint">1 1 0</fdir1>
          </ode>
        </friction>
      </surface>
    </collision>
  </gazebo>
  <gazebo reference='rear_left_wheel'>
    <collision>
      <surface>
        <friction>
          <ode>
            <mu>1.0</mu>
            <mu2>0.0</mu2>
            <!-- <fdir1 gz:expressed_in="base_link">1 1 0</fdir1> -->
            <fdir1 gz:expressed_in="base_footprint">1 1 0</fdir1>
          </ode>
        </friction>
      </surface>
    </collision>
  </gazebo>
  <gazebo reference='rear_right_wheel'>
    <collision>
      <surface>
        <friction>
          <ode>
            <mu>1.0</mu>
            <mu2>0.0</mu2>
            <!-- <fdir1 gz:expressed_in="base_link">1 -1 0</fdir1> -->
            <fdir1 gz:expressed_in="base_footprint">1 -1 0</fdir1>
          </ode>
        </friction>
      </surface>
    </collision>
  </gazebo>
</robot>